In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect('OurDataBase.db')

In [3]:
cursor = connection.cursor()

In [4]:
#SQLITE Datatypes

#INTEGER
#REAL (float in Py)
#TEXT
#BLOBS (Binary Large Objects, Videos, Images,etc)
#NULL

In [5]:
cursor.execute('CREATE TABLE employees(name TEXT, surname TEXT, salary REAL)')

In [6]:
connection.commit()

In [7]:
cursor.execute("INSERT INTO employees VALUES('Max','Maxwell', 100000)")

In [8]:
connection.commit()

In [9]:
cursor.execute("SELECT * FROM employees")

In [10]:
cursor.fetchone()

('Max', 'Maxwell', 100000.0)

In [11]:
for i in cursor.execute("SELECT * FROM employees"):
    print(i)

('Max', 'Maxwell', 100000.0)

In [12]:
name = input('Provide a name: ')
surname = input('Provide a surname: ')
salary = float(input('Provide a salary: '))

Provide a name: Anna
Provide a surname: White
Provide a salary: 1000000

In [13]:
cursor.execute("INSERT INTO employees VALUES(?,?,?)", (name, surname, salary))

In [14]:
connection.commit()

In [15]:
cursor.execute("SELECT * FROM employees")

In [16]:
connection.commit()

In [17]:
cursor.fetchall()

[('Max', 'Maxwell', 100000.0), ('Anna', 'White', 1000000.0)]

In [18]:
class SQLinput:
    
    def __init__(self,name,surname,salary):
        self.name = name
        self.surname = surname
        self.salary = salary

In [19]:
inst = SQLinput('Denzel', 'Sullivan',1000000)

In [20]:
name, surname, salary = inst.name, inst.surname, inst.salary

In [21]:
cursor.execute("INSERT INTO employees VALUES(?,?,?)", (name, surname, salary))

In [22]:
connection.commit()

In [23]:
cursor.execute("SELECT * FROM employees")

In [24]:
connection.commit()

In [25]:
cursor.fetchall()

[('Max', 'Maxwell', 100000.0),
 ('Anna', 'White', 1000000.0),
 ('Denzel', 'Sullivan', 1000000.0)]

In [26]:
connection.close()